.card {
  border-radius: 1rem; /* A more standard card shape */
  cursor: pointer;
}

.game-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.game-card:not(.disabled) {
  cursor: pointer;
}

.game-card:not(.disabled):hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(169, 132, 103, 0.2);
}

.app-dark .game-card:not(.disabled):hover {
  box-shadow: 0 8px 25px rgba(58, 123, 213, 0.2);
}

.game-card.disabled {
  opacity: 0.6;
}
