.card {
  border-radius: 50%;
  cursor: pointer;
}

.game-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.game-card:not(.disabled) {
  cursor: pointer;
}

.game-card:not(.disabled):hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.app-dark .game-card:not(.disabled):hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

.game-card.disabled {
  opacity: 0.6;
}

